<nav>
  <a href="/">Home</a>
  <% categories.forEach(category => {%>
  <a href="/category/<%=category._id%>"> <%=category.name%> </a>
  <%}) %>
</nav>
<h1>PC GARAGE</h1>
<a href="category/add"><button>Add new category</button></a>
