<!DOCTYPE html>
<html>
  <head>
    <title>PC Garage</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>PC GARAGE</h1>
    <p>hai salutare</p>
  </body>
</html>
