<!DOCTYPE html>
<html>
  <head>
    <title>PC Garage</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/navbar', {categories}) %>
    <p>hai salutare</p>

    <%- include('partials/itemList', {items}) %>
  </body>
</html>
